<span class={{tag}}>{{tague}}</span>
<div class="image-container">
    <a> <img src={{image}} alt="Image" class="img-fluid w-100 h-100"></a>
</div>
<h3 class="text-dark"><a >{{titre}}</a></h3>
<div class="row" *ngIf="!est_admin">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <p class="price">{{prix}} FCFA</p>
    </div>
    <div class="col-sm-6 text-center">
        <app-ajouter-panier></app-ajouter-panier>
    </div>

</div>
<p class="price" *ngIf="est_admin">{{prix}} FCFA</p>