<span class={{tag}}>{{tague}}</span>
<div class="image-container">
    <a> <img src={{image}} alt="Image" class="img-fluid w-100 h-100"></a>
</div>
<h3 class="text-dark"><a >{{titre}}</a></h3>
<div class="row" *ngIf="!est_admin">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <p class="price">{{prix}} FCFA</p>
    </div>
    <div class="col-sm-6 text-center" *ngIf="tague == 'Épuisé'">
        <app-ajouter-panier [idMedoc]=id [qteMax]=qte [image]=image [prix]="prix" [nom]=titre [is_enable]=false></app-ajouter-panier>
    </div>
    <div class="col-sm-6 text-center" *ngIf="tague == 'Expiré'">
        <app-ajouter-panier [idMedoc]=id [qteMax]=qte [image]=image [prix]="prix" [nom]=titre [is_enable]=false></app-ajouter-panier>
    </div>
    <div class="col-sm-6 text-center" *ngIf="tague == 'À vendre'">
        <app-ajouter-panier [idMedoc]=id [qteMax]=qte [image]=image [prix]="prix" [nom]=titre [is_enable]=true></app-ajouter-panier>
    </div>
</div>
<div class="row" *ngIf="est_admin">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <p class="price">{{prix}} FCFA</p>
    </div>
    <div class="col-sm-6 text-center">
        
        <button
            class="btn text-white py-1 btn-primary" 
        >
            <i class="icons-btn d-inline-block cart me-1">
            <span class="icon-edit"></span>
            </i>
        </button>
    </div>
</div>