<div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a [routerLink]="['/']" class="js-logo-clone">{{titre}}</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul *ngIf="est_connecter && est_admin" class="site-menu js-clone-nav d-none d-lg-block">
                <li *ngFor="let item of Menu_admin">
                    <a [routerLink]="['/'+item.toLowerCase()]">{{ item }}</a>
                </li>
              </ul>
              <ul *ngIf="est_connecter && !est_admin" class="site-menu js-clone-nav d-none d-lg-block">
                <li *ngFor="let item of Menu_user">
                    <a [routerLink]="['/' + item.toLowerCase()]">{{ item }}</a>
                </li>
              </ul>
              <ul *ngIf="!est_connecter" class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/login']"><button class="btn btn-primary" >Connexion</button></a></li>
              </ul>
            </nav>
          </div>
          <div *ngIf="!est_admin && est_connecter" class="icons">
            <a [routerLink]="['/cart']" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">6</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
          <li *ngIf="est_connecter"><a href=""><button class="btn btn-danger" (click)="logout()">Se deconnecter</button></a></li>
        </div>
      </div>
    </div>